################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/Useful.Extensions/obj/Debug
/Useful.Extensions.Tests/bin/Debug
/Useful.Extensions.Tests/obj/Debug
*.DotSettings
/Useful.Extensions.net40/obj/Debug
/Useful.Extensions.net45/obj/Debug
/Useful.Extensions.net451/obj/Debug
/Tests/Useful.Extensions.Tests/bin/Debug
/Tests/Useful.Extensions.Tests/obj/Debug
/Tests/Useful.Extensions.net45.Tests/bin/Debug
/Tests/Useful.Extensions.net451.Tests/bin/Debug
/Tests/Useful.Extensions.net45.Tests/obj/Debug
/Tests/Useful.Extensions.net451.Tests/obj/Debug
*.suo
*.user
/Useful.Extensions/bin/Debug
/Useful.Extensions.net45/bin/Debug
/Useful.Extensions.net451/bin/Debug
